@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.beforeItemHeader::before{
  content: "";
  background-color: rgb(24, 138, 237);
  height: 3px;
  width: 110px;
  display: block;
}